<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="http://i58.tinypic.com/302rtyg.png" type="image/png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=BIZ+UDPMincho&display=swap" rel="stylesheet">
    <title>Shop-n-Shop</title>
    <link rel='stylesheet' href="stylesheets/style.css" />
  </head>
  <body>
    <div class="container">
      <img class="landing_page" src="images/Home_Background.jpg">
      <h2 class="text">Shop-N-Shop</h2>
      <h3 class="text1">Let Us Start Shopping</h3>
      <div class="scroll-down"></div>
    </div>
    <div id="section01">
      <h1>hello</h1>
    </div>
  </body>
  <script src="javascripts/script.js"></script>
</html>
