<% layout('./layout/boiler-plate') %>

<div class="form">
    <form method="post" action="/login">
        <label>Username</label>
        <input type="text">
        <label>Password</label>
        <input type="password">
        <input type="submit">
    </form>
</div>
