*{
  margin: 0;
  padding: 0;
}
body {
  background-color: #F9F9F9;
  font-family: 'BIZ UDPMincho', serif;
}
.container{
  position: relative;
}

.scroll-down {
  position: absolute;
  left: 48vw;
  bottom: 20vw;
  display: block;
  text-align: center;
  font-size: 20vw;
  text-decoration: none;
  width: 4vw;
  height: 4vw;
  border-bottom: 0.5vw solid #fff;
  border-right: 0.5vw solid #fff;
  z-index: 9;
  -webkit-transform: translate(-50%, 0%) rotate(45deg);
  -moz-transform: translate(-50%, 0%) rotate(45deg);
  transform: translate(-50%, 0%) rotate(45deg);
  -webkit-animation: fade_move_down 4s ease-in-out infinite;
  -moz-animation:    fade_move_down 4s ease-in-out infinite;
  animation:         fade_move_down 2s ease-in-out infinite;
}


/*animated scroll arrow animation*/
@-webkit-keyframes fade_move_down {
  0%   { -webkit-transform:translate(0,-10px) rotate(45deg); opacity: 0;  }
  50%  { opacity: 1;  }
  100% { -webkit-transform:translate(0,10px) rotate(45deg); opacity: 0; }
}
@-moz-keyframes fade_move_down {
  0%   { -moz-transform:translate(0,-10px) rotate(45deg); opacity: 0;  }
  50%  { opacity: 1;  }
  100% { -moz-transform:translate(0,10px) rotate(45deg); opacity: 0; }
}
@keyframes fade_move_down {
  0%   { transform:translate(0,-10px) rotate(45deg); opacity: 0;  }
  50%  { opacity: 1;  }
  100% { transform:translate(0,10px) rotate(45deg); opacity: 0; }
}

.landing_page{
  width: 100vw;
  border-bottom-left-radius: 5vh;
  border-bottom-right-radius: 5vh;
  margin-left: -1%;
  margin-top: -1%;
  filter: brightness(0.25);
  /*filter: blur(3px);*/
}
a {
  color: #00B7FF;
}
.text{
  position: absolute;
  top: 15vw;
  left: 5vw;
  color: #F6C6EA;
  font-size: 10vw;
}
.text1{
  position: absolute;
  top: 30vw;
  left: 5vw;
  color: #F6C6EA;
  font-size: 5vw;
}

#section01 h1{
  color: #F6C6EA;
}
#footer h1{
  color: #F6C6EA;
}

/*NAVBAR===================================*/
li {
  list-style: none;
}

a {
  text-decoration: none;
}
.header{
  position: sticky;
  top: 0;
  background-color: #FAF4B7CC;
  border-bottom: 0.3vw solid #CDF0EA;
  /*border-top: 0.3vw solid #C94530;*/
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.5rem;
}
.hamburger {
  display: none;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #101010;
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-item {
  margin-left: 5rem;
}

.nav-link{
  font-size: 2rem;
  font-weight: 700;
  color: #F6C6EA;
}

.form{
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
}

.nav-logo {
  font-size: 2.7rem;
  font-weight: 999;
  color: #F6C6EA;
}

@media only screen and (max-width: 1045px) {
  .nav-menu {
    position: fixed;
    left: -100%;
    top: 5rem;
    flex-direction: column;
    background-color: #fff;
    width: 100%;
    border-radius: 10px;
    text-align: center;
    transition: 0.3s;
    box-shadow:
            0 10px 27px rgba(0, 0, 0, 0.05);
  }

  .nav-menu.active {
    left: 0;
  }

  .nav-item {
    margin: 2.5rem 0;
  }

  .hamburger {
    display: block;
    cursor: pointer;
  }


  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
}
/*NAVBAR===================================*/
