<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="http://i58.tinypic.com/302rtyg.png" type="image/png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=BIZ+UDPMincho&display=swap" rel="stylesheet">
    <title>Shop-n-Shop</title>
    <link rel='stylesheet' href="stylesheets/style.css" />
</head>
<body style="background: linear-gradient(#F9F9F9, #CDF0EA);">
<header class="header">
    <nav class="navbar">
        <a href="/" class="nav-logo">Shop The Way</a>
        <ul class="nav-menu">
            <li class="nav-item">
                <a href="#" class="nav-link">About Us</a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link">Products</a>
            </li>
            <li class="nav-item">
                <a href="/login" class="nav-link">Login</a>
            </li>
            <li class="nav-item">
                <a href="/signup" class="nav-link">SignUp</a>
            </li>
        </ul>
        <div class="hamburger">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
        </div>
    </nav>
</header>
<%- body %>
</body>
<script src="javascripts/script.js"></script>
</html>